<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Pierre's Bakery</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link href="~/css/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class= "jumbotron">
        <h1> Pierre's Bakery!</h1>
        <h3>Vendor and order tracking application, if you are not pierre or did not get permission from Pierre to access this site, please exit now. Otherwise, continue on!<h3>
        <div class="container">
            <a href="vendorOrder/new">View Vendor Orders</a>
    </div>
  </body>
</html>