h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-decoration: darkslateblue;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: steelblue;
}