<form action="/vendor" method="post">
  <label for="vendorName">Add new vendor Name</label>
  <input id = "vendorName" name= "vendorName">
  <label for="description">Description of Vendor</label>
  <input id="vendorDescription" name="vendorDescription" type="text">
  <button type="submit">Submit</button>
</form>